# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Python packaging
*.egg-info/

# Ignore local verification/check folders
zCHECKS/