# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
.venv2/
venv2/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Python packaging
*.egg-info/

# Others
.cursor/

# Ignore local verification/check folders
zCHECK/
notebooks/checks.ipynb
data/all_filtered/
notebooks/paper_plots.ipynb
data/mapping.csv
data/wer
.env

test_single_pred/*
# keep these 
!test_single_pred/liwc.py
!test_single_pred/pred_transcript.py
!test_single_pred/pred_transcript_liwc.py
!test_single_pred/liwc-test-pid71.csv
!test_single_pred/stt_t71.txt